<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:enableOnBackInvokedCallback="true"
  tools:targetApi="33"
>
  <!-- The location permissions come from the common module, next to the code that needs them. -->
  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault"
  >
    <uses-library
      android:name="com.google.android.wearable"
      android:required="true"
    />
    <!-- Runs without a companion phone app. -->
    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true"
    />
    <!-- Its own affinity keeps the activity in the watch's recents list. -->
    <activity
      android:exported="true"
      android:taskAffinity=""
      android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
      android:name=".MainActivity"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
